<section class="container-fluid login" ng-controller="LoginController">

  <div class="container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

      <form class="form-horizontal" role="form" name="loginForm" ng-submit="login()" novalidate>
        <div class="jumbotron">
          <h3>Login</h3>
          <!-- <img src="images/Generate-keys-icon.png" class="login"/> -->
        </div>
          <div class="form-group"
              ng-class="{'has-error':loginForm.username.$error.required && loginForm.username.$dirty }">
              <!-- <label for="username" class="col-sm-2 control-label">Username</label> -->
              <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input type="text" class="form-control" id="username"
                  name="username" placeholder="Enter user name" ng-model="user.username" autocomplete="off" required>
                </div>
                  <span ng-show="loginForm.username.$dirty">
                    <span ng-show="loginForm.username.$error.required" class="help-block">
                      Firstname is required.
                    </span>
                  </span>
              </div>
          </div>

          <div class="form-group"
              ng-class="{'has-error':loginForm.password.$error.required && loginForm.password.$dirty }">
              <!-- <label for="password" class="col-sm-2 control-label">Password</label> -->
              <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <input type="password" class="form-control" id="password"
                  name="password" placeholder="Enter password" ng-model="user.password" autocomplete="off" required>
                </div>
                  <span ng-show="loginForm.password.$dirty">
                    <span ng-show="loginForm.password.$error.required" class="help-block">
                      Password is required.
                    </span>
                  </span>
              </div>
          </div>

          <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                  <button type="submit" class="btn btn-primary login-btn" ng-disabled="loginForm.$invalid">Login</button>
              </div>
          </div>
      </form>
      <div class="text-danger bg-danger" ng-show="notUser">Not an User</div>
      <div class="text-danger bg-danger" ng-show="invalidCredentials">Invalid User Name or Password</div>

      <div class="divider-container">
        <div class="line"></div>
        <div class="text">OR</div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
              <button type="button" class="btn btn-primary signup-btn" ui-sref="app.signup">Sign Up</button>
          </div>
      </div>

  </div>
</section>
